
@{
}

<form method="post">
    <div class="mb-3">
        <h1>Register Wit Us</h1>
        <label for="Name" class="form-label">Name</label>
        <input type="Text" class="form-control" id="" aria-describedby="" name="Name">

    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Email</label >
        <input type="email" class="form-control"  name="Email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="Phone" class="form-label">Phone</label>
        <input type="number" class="form-control" id="" name="Phone">
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">Address</label>
        <input type="text" class="form-control" id="" name="Address">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>




