@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div> <h1> This is our About Page where you can write about your services and applictaion</h1></div>
